/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

@font-face {
    font-family: fonteGiz;
    src: url(../fonts/EraserRegular.ttf);
}

@font-face {
    font-family: fonteGiz2;
    src: url(../fonts/mr_chalk.wolff);
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-attachment:fixed;
    font-family:'fonteGiz';
    color: #FFFFFF;
    font-size:12px;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    
}

/* Portrait layout (default) */
.app {
    background-image: url(../img/background.png);
    background-position: center top;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    position: absolute;
    left: 0%;
    top: 0%;
    height: 100%;
    width: 100%;
    text-align: center;
    vertical-align: middle;

}

.tgame{
    margin-top: 20%;
    font-size: 5em;
}


.app a{
    text-decoration: none;
    color: inherit;
}

.app ul{

    list-style: none;
    text-align: center;
    font-size: 3em;
}

.app .header{
    margin-top: 10%;
    font-size: 3em;
}

.app .header .esqinfo{
    position: absolute;
    left: 8%;
    top: 6%;
}
.app .header .dirinfo{
    position: absolute;
    right: 8%;
    top: 6%;
}


.handsGame {
    margin-top: 40%;
    list-style:none;
}

.handsGame li { display: inline; }


.optionsGame {
    margin-top: 40%;
    padding: 0px 8.8%;
    list-style: none;
}

.optionsGame li { 
    border: 2px solid #fff;
    width: 22.2%;
    float: left;
    padding: 15px 0px 5px 0px;
    margin: 0px 1%;
    font-size: 2.3em;
}


/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.gis2 {
    font-family: fonteGiz2;
    font-size: 200px;
    margin: 400px;
}